@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 5px !important;
    background-color: #9BAEC2 !important;
    color: #fff !important;
}

#root {
    display: flex;
    justify-content: center;
}